<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp">
    <Appenders>
        <RollingFile name="RollingFile" fileName="logs/Hippodrome.log"
                     filePattern="logs/Hippodrome.%d{yyyy-MM-dd-mm}.log"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>"%highlight{%d %-5level %logger{36}: %msg%n%throwable}{FATAL=white, ERROR=red, WARN=yellow,
                    INFO=black, DEBUG=bright_green, TRACE=blue}"
                </Pattern>
            </PatternLayout>
            <TimeBasedTriggeringPolicy/>
            <DefaultRolloverStrategy>
                <Delete basePath="logs" maxDepth="2">
                    <IfFileName glob="Hippodrome.*.log"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <!--        <Console name="STDOUT" target="SYSTEM_OUT" ignoreExceptions="false"  >-->
        <!--            <PatternLayout pattern="%highlight{%d %-5level %t: %msg%n%throwable}{FATAL=white, ERROR=red, WARN=yellow, INFO=black, DEBUG=bright_green, TRACE=blue}" disableAnsi ="false"/>-->
        <!--        </Console>-->
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>